.chart-container {
    alignment: center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.ownershipGraph {
    width: 100%;
    height: 95%;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}